<div class="container"> 
    <div class="container">
      <div class="row d-flex d-flex-column p-5">
        <div class="col-lg-6 col-sm-12 d-flex justify-content-center">
          <p><img src="./assets/img/dde.gif" alt="at" width="100%" height="100%"></p>
        </div>
        <div class="col-lg-6 col-sm-12">
          <div class="text-center d-flex justify-content-center"><img src="./assets/img/icoEsferaDragonBallBlack.svg" alt="db" width="50px"></div>
          <p>Somos una comunidad de personas dedicada a la VENTA, INTERCAMBIO y NOTICIAS del mundo de los videojuegos,
            anime, comics y tecnología. Nuestra idea nace de la necesidad de crear una comunidad activa en cada unos de
            los mundos que encierra el término GEEK sumado con una excelente atención al cliente, compartir
            conocimientos
            y asesoría responsable.
            Poco a poco nos hemos expandido a otras áreas como lo son los streams de videojuegos y eventos para la
            comunidad.
            En nuestra tienda, redes sociales y página web podrás encontrar productos, noticias, eventos y una comunidad
            de videojugadores de todas las edades e intereses..</p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row d-flex d-flex-column p-5">
        <div class="col-lg-6 col-sm-12 d-flex justify-content-center">
          <p><img src="./assets/img/bb.gif" alt="kn" width="100%" height="100%"></p>
        </div>
        <div class="col-lg-6 col-sm-12">
          <div class="text-center d-flex justify-content-center"><img src="./assets/img/icoNarutoBlack.svg" alt="db" width="50px"></div>
          <p>MISIÓN: Brindar todo tipo de productos , prestar asesoría responsable a cada uno de nuestros clientes,
            obrefer productos de primera calidad, preparar y participar en torneos para el videojugador Colombiano.</p>
          <p>VISIÓN: Ser la tienda líder y referente para los aficionados a la cultira geek de Colombia, donde podrán
            encontrar productos relacionados con los videojuegos, animes, comics, figuras,torneos y noticias.</p>
        </div>
      </div>
    </div>
  </div>
  <footer>
    <div class="card-deck p-5 colorF">
      <div class="card">
        <img src="./assets/img/sh.gif" class="align-self-center" alt="naruto" width="180px">
        <div class="card-body">
          <h5 class="card-title">Noticias del mundo Anime</h5>
          <p>Con un nuevo tráiler, Noblesse confirma su fecha de estreno</p>
          <p class="card-text">Se trata del nuevo anime original de Crunchyroll, que llegará este mismo año a través
            de
            la plataforma. La cultura vampírica tendrá un nuevo referente este año de la mano de la industria del
            anime
            y de Crunchyroll, que adaptará el WEBTOON de Kwangsu Lee que lleva por título Noblesse. Hace instantes
            recibimos un nuevo tráiler y con él la fecha de estreno de la serie: llegará a la plataforma el próximo 5
            de
            octubre.</p>
          <p>Yastutama Yamamoto dirigirá esta historia que seguirá a un vampiro de la nobleza que, tras entrar en un
            sueño de 820 años, despierta en la sociedad actual. Akiharu Ishii es el encargado del diseño de personajes
            que, como se puede apreciar en el adelanto, realmente está muy bien.</p>
          <p class="card-text"><small class="text-muted">Last updated 1 mins ago</small></p>
        </div>
      </div>
      <div class="card">
        <img src="./assets/img/js.gif" class="align-self-center" alt="js" width="100px">
        <div class="card-body">
          <h5 class="card-title">Avances Nuevos Videojuegos</h5>
          <p>Xbox Series X: Precio, fecha de lanzamiento y especificaciones técnicas</p>
          <p class="card-text">Microsoft nos ha dado nuevas buenas noticias. Según filtraciones, la Xbox Series X
            saldría a la venta el 6 de noviembre, además de que se confirmó la existencia y costo de la Xbox Series S,
            la versión más barata y pequeña de Xbox Series X. Asimismo, la consola principal tendrá un precio inicial
            de
            US$499 dólares y estaría disponible a partir del 10 de noviembre, según una filtración.</p>
          <p>Tras filtrarse un video de la Xbox Series S, Xbox hizo oficial el anuncio y mediante una serie de tuits
            publicados el 8 de septiembre la compañía confirmó que la nueva consola digital de Microsoft costará
            US$299.
            En otro tuit, Xbox mostró un video de la consola y mencionó algunas de sus características como tiempos de
            carga más rápidos, mayor velocidad, desempeño de última generación, entre otros.</p>
          <p class="card-text"><small class="text-muted">Last updated 1 mins ago</small></p>
        </div>
      </div>
      <div class="card">
        <img src="./assets/img/bat.gif" class="align-self-center" alt="logo" width="190px">
        <div class="card-body">
          <h5 class="card-title">Actualidad Universo Geek</h5>
          <p>Star Wars: The High Republic nos muestra una versión joven de Yoda.</p>
          <p class="card-text">La serie de cómics y libros Star Wars: The High Republic nos traerá una versión 200
            años
            más joven del legendario maestro Jedi: Yoda. Si bien muchos esperábamos que The High Republic fuese una
            serie o películas, la nueva etapa argumental de Star Wars llegará en formato de libros y cómics y gracias
            a
            algunos artes conceptuales que se compartieron ya tenemos el primer vistazo a un rejuvenecido maestro
            Yoda,
            quién aparecerá 200 años más joven de lo que lo conocíamos.</p>
          <p>Star Wars: The High Republic Adventures, de Daniel José Older, será una de las obras que contarán con el
            icónico maestro Jedi y se estrenará en 2021. Por lo que se reveló, veremos a Yoda como un oficial de la
            República y lo encontraremos viajando mientras busca nuevos y jóvenes aprendices para entrenarlos en el
            uso
            de la fuerza. </p>
          <p class="card-text"><small class="text-muted">Last updated 1 mins ago</small></p>
        </div>
      </div>
    </div>
	
