<footer class="page-footer panel-footer todoFondo ">
    <div class="text-center py-3 container">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-8 col-md-12 col-sm-12 py-2">© 2020 Copyright:
          <a href="#"> Nomisocialclub.com</a>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 py-2">
          <a href="#" class="col-1 "><img src="./assets/img/instagram (1).png" alt="instagram" class="redes"></a>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 py-2">
          <a href="#" class="col-1 "><img src="./assets/img/facebook (1).png" alt="facebook" class="redes"></a>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 py-2">
          <a href="#" class="col-1"><img src="./assets/img/twitter.png" alt="twitter" class="redes"></a>
        </div>
      </div>
    </div>
  </footer>