.header {
    position: sticky;
    top: 0;
    z-index: 1071;
}

.fondo {
    background-color: #222831;
}

.menuFondo{
    background-color: #eeeeee !important;
    border: #eeeeee solid 1px;
}

.collapse > ul > li > a {
    color: #eeeeee;
    font-size: 1.5rem;
    font-family: 'Overpass', sans-serif;
    font-weight: 100;
}

.dropdown-menu > a {
    background-color: #222831;
    color: #eeeeee;
    font-size: 1.5rem;
    font-family: 'Overpass', sans-serif;
    font-weight: 100;
}

.otro > div {
    background-color: #222831;
}

.form-inline > input {
    background: #eeeeee;
    font-size: 1.5rem;
    font-weight: 100;
    color: #eeeeee;
    border: #eeeeee solid 1px;
}

.form-inline > button {
    background-color: #222831;
    font-size: 1.5rem;
    font-weight: 100;
    color: #eeeeee;
    border: #eeeeee solid 1px;
}

.form-inline > button:hover {
    background-color: #eeeeee;
    color: #222831;
    border: #222831 solid 1px;
}

.page-footer > div > div > div > a {
    color: #eeeeee;
}

.page-footer div > div > div > a:hover {
    color: #393E46;
}

.panel-footer {
    background-color: #222831;
    font-size: 1.5rem;
    font-weight: 100;
    color: #eeeeee;
}

.redes {
      height: 50px;
      width: 50px;
}

body{
    font-family: 'Overpass', sans-serif;
    color: wheat;
}

.cajitaVideos{
    margin-top: 6px;
    margin-bottom: 6px;
    margin-right: 3px;
    margin-left: 3px;
}
.cajitaProductos{
    margin-top: 6px;
    margin-bottom: 6px;
    margin-right: 3px;
    margin-left: 3px;
}
.tamaImg{
    width:240px ;
    height: 310px;
}

.btn-primary{
    background: #393E46 !important;
    border-color: #EEEE !important;
}
.color{
    background: linear-gradient(to right bottom,#222831 -45%,#32E0C4 146%);
}

.border-light{
    border-color: wheat !important;
}
.colorC{
    color: wheat !important;
}

.colorF{
    color: #393E46 !important;
}