<div class="container my-1">
    <div class="row">
        <div class="col-lg-4 col-md-12 col-sm-12 ">
            
            <div class="row cajitaProductos border border-light py-1">
                <div class="col-lg-12 d-flex justify-content-center">
                    <img class="tamaImg" src="./assets/img/tienda/1.jpg" alt="camisaNomi" srcset="">
                    
                </div>
                <div class="card-body">
                    <h5 class="card-title">Camisa Super Mario Bros</h5>
                    <p class="card-text">Nomi Social Clusb ofrece diseños personalizados para toda nuestra comunidad.</p>
                    <a href="#" class="btn btn-primary">Comprar</a>
                  </div>
            </div>
            <div class="row cajitaProductos border border-light py-1">
                <div class="col-lg-12 d-flex justify-content-center">
                    <img class="tamaImg" src="./assets/img/tienda/2.jpg" alt="camisaNomi" srcset="">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Camisa Star Wars</h5>
                    <p class="card-text">Nomi Social Clusb ofrece diseños personalizados para toda nuestra comunidad.</p>
                    <a href="#" class="btn btn-primary">Comprar</a>
                  </div>
            </div>
            <div class="row cajitaProductos border border-light py-1">
                <div class="col-lg-12 d-flex justify-content-center">
                    <img class="tamaImg" src="./assets/img/tienda/3.jpg" alt="camisaNomi" srcset="">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Camisa PlayStation</h5>
                    <p class="card-text">Nomi Social Clusb ofrece diseños personalizados para toda nuestra comunidad.</p>
                    <a href="#" class="btn btn-primary">Comprar</a>
                  </div>
            </div>
            <div class="row cajitaProductos border border-light py-1">
                <div class="col-lg-12 d-flex justify-content-center">
                    <img class="tamaImg" src="./assets/img/tienda/4.jpg" alt="camisaNomi" srcset="">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Camisa Super Mario Bros</h5>
                    <p class="card-text">Nomi Social Clusb ofrece diseños personalizados para toda nuestra comunidad.</p>
                    <a href="#" class="btn btn-primary">Comprar</a>
                  </div>

            </div>

        </div>
        <div class="col-lg-4 col-md-12 col-sm-12 ">
            
            <div class="row cajitaProductos border border-light py-1">
                <div class="col-lg-12 d-flex justify-content-center">
                    <img class="tamaImg" src="./assets/img/tienda/5.jpg" alt="camisaNomi" srcset="">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Camisa Back to the Future</h5>
                    <p class="card-text">Nomi Social Clusb ofrece diseños personalizados para toda nuestra comunidad.</p>
                    <a href="#" class="btn btn-primary">Comprar</a>
                  </div>
            </div>
            <div class="row cajitaProductos border border-light py-1">
                <div class="col-lg-12 d-flex justify-content-center">
                    <img class="tamaImg" src="./assets/img/tienda/6.jpg" alt="camisaNomi" srcset="">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Camisa NES</h5>
                    <p class="card-text">Nomi Social Clusb ofrece diseños personalizados para toda nuestra comunidad.</p>
                    <a href="#" class="btn btn-primary">Comprar</a>
                  </div>
            </div>
            <div class="row cajitaProductos border border-light py-1">
                <div class="col-lg-12 d-flex justify-content-center">
                    <img class="tamaImg" src="./assets/img/tienda/7.jpg" alt="camisaNomi" srcset="">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Camisa Star Wars</h5>
                    <p class="card-text">Nomi Social Clusb ofrece diseños personalizados para toda nuestra comunidad.</p>
                    <a href="#" class="btn btn-primary">Comprar</a>
                  </div>
            </div>
            <div class="row cajitaProductos border border-light py-1">
                <div class="col-lg-12 d-flex justify-content-center">
                    <img class="tamaImg" src="./assets/img/tienda/8.jpg" alt="camisaNomi" srcset="">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Camisa PlayStation</h5>
                    <p class="card-text">Nomi Social Clusb ofrece diseños personalizados para toda nuestra comunidad.</p>
                    <a href="#" class="btn btn-primary">Comprar</a>
                  </div>

            </div>

        </div>
        <div class="col-lg-4 col-md-12 col-sm-12 ">
            
            <div class="row cajitaProductos border border-light py-1">
                <div class="col-lg-12 d-flex justify-content-center">
                    <img class="tamaImg" src="./assets/img/tienda/9.jpg" alt="camisaNomi" srcset="">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Camisa PS control</h5>
                    <p class="card-text">Nomi Social Clusb ofrece diseños personalizados para toda nuestra comunidad.</p>
                    <a href="#" class="btn btn-primary">Comprar</a>
                  </div>
            </div>
            <div class="row cajitaProductos border border-light py-1">
                <div class="col-lg-12 d-flex justify-content-center">
                    <img class="tamaImg" src="./assets/img/tienda/10.jpg" alt="camisaNomi" srcset="">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Camisa PS beat control</h5>
                    <p class="card-text">Nomi Social Clusb ofrece diseños personalizados para toda nuestra comunidad.</p>
                    <a href="#" class="btn btn-primary">Comprar</a>
                  </div>
            </div>
            <div class="row cajitaProductos border border-light py-1">
                <div class="col-lg-12 d-flex justify-content-center">
                    <img class="tamaImg" src="./assets/img/tienda/11.jpg" alt="camisaNomi" srcset="">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Camisa Naruto Shippūden</h5>
                    <p class="card-text">Nomi Social Clusb ofrece diseños personalizados para toda nuestra comunidad.</p>
                    <a href="#" class="btn btn-primary">Comprar</a>
                  </div>
            </div>
            <div class="row cajitaProductos border border-light py-1">
                <div class="col-lg-12 d-flex justify-content-center">
                    <img class="tamaImg" src="././assets/img/tienda/12.jpg" alt="camisaNomi" srcset="">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Camisa Itachi Uchiha</h5>
                    <p class="card-text">Nomi Social Clusb ofrece diseños personalizados para toda nuestra comunidad.</p>
                    <a href="#" class="btn btn-primary">Comprar</a>
                  </div>

            </div>

        </div>


    </div>




</div>