<div class="container d-flex flex-column align-items-center justify-content-center">
<div class="col-12 bg-white col-md-6 order-1 order-md-2  border pt-3 mb-3 mt-3 colorF"> 
    <!-- REGISTRO-->
         <!--  INICIO DE FORMULARIO  -->
         <form action="index.html">

             <div class="form-group">
               <label for="inputAddress">Nombre</label>
               <input type="text" class="form-control" id="inputAddress" placeholder="Nombre de Usuario">
             </div>
             <div class="form-group">
               <label for="inputAddress2">Apellido</label>
               <input type="text" class="form-control" id="inputAddress2" placeholder="Apellido Usuario">
             </div>
 
 
             <div class="form-row">
               <div class="form-group col-md-6">
                 <label for="inputEmail4">Email</label>
                 <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
               </div>
               <div class="form-group col-md-6">
                 <label for="inputPassword4">Password</label>
                 <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
               </div>
             </div>
 
             <div class="form-row">
               <div class="form-group col-md-6">
                 <label for="inputCity">Direccion</label>
                 <input type="text" class="form-control" id="inputCity">
               </div>
 
               <div class="form-group col-md-3">
                 <label for="inputState">Tu interes</label>
                 <select id="inputState" class="form-control">
                   <option selected>Comic</option>
                   <option>Video Juegos</option>
                   <option>Anime</option>
                   <option>Cine</option>
                   <option>Series</option>
                 </select>
               </div>
 
               <div class="form-group col-md-3">
                 <label for="inputZip">Telefono</label>
                 <input type="text" class="form-control" id="inputZip" placeholder="310 336 9898">
               </div>
 
             </div>
             <div class="form-group">
               <div class="form-check">
                 <input class="form-check-input" type="checkbox" id="gridCheck">
                 <label class="form-check-label" for="gridCheck">
                   Acepta terminos y condiciones
                 </label>
               </div>
             </div>
             <div class="d-flex justify-content-center mb-3 ">
             <button type="submit" class="btn btn-primary colorBotones">Regisrate</button>
            </div>
           </form>
           <!--  INICIO DE FORMULARIO  -->
    <!--  REGISTRO-->
   </div>
  </div>
